APP_ENV=dev
APP_SECRET=34530616e5c03091961be9a3dbb84204
DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=15&charset=utf8"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0